POSTGRES_PASSWORD=replace-with-a-long-random-database-password
MASTER_KEY=replace-with-at-least-32-random-bytes
PUBLIC_URL=http://localhost:8787
COOKIE_SECURE=false
VIBEABLE_PORT=8787
REQUIRE_SEPARATE_APPROVER=true
TRUST_PROXY=false
EXECUTION_MODE=disabled
ALLOW_PRIVATE_AI_ENDPOINTS=false
